@import url('https://fonts.googleapis.com/css?family=Yesteryear');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body {
    width:100%;
    height:100%;
    background:#ecf0f1;
    border-top:2px solid #f1c40f;
}

#particles-js *{
    margin-top:-100vh;
    position:relative;
    z-index:100;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position:static;
    height:90vh;
    z-index:1000;
}

.card{
    width:300px;
    height:400px;
    position:relative;
    z-index:100000;
}

.anmol-image {
    background-color:whtie;
    background-image:url('anmol.jpg');
    background-size:110% auto;
    background-repeat: no-repeat;
    background-position:center center;
    width:200px;
    height:200px;
    margin:auto;
    border-radius:300px;-;
    box-shadow:3px 3px 6px rgba(0,0,0,0.1);
    transition:0.5s all ease;
    cursor: crosshair;
    animation: fly 3s 1;
}
.anmol-image:hover {
    width:210px;
    height:210px;
}

.coming-soon{
    animation: fly 4s 1;
}

.coming-soon h3 {
    color: #2980b9;
    font-weight: normal;
    font-size:43px;
    font-family: 'Yesteryear', cursive;
    text-align:center;
}

.coming-soon p {
    line-height: 1.5;
    font-size:14px;
    color:#666;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.cs-text {
    background:white;
    padding:5px;
}

@keyframes fly {
    from {opacity:0;}
    to {opacity:1;}
}
